body{

}
table{
    background-color: blueviolet;
    border-radius: 10px;
    border-color: brown;
    border-style: groove;
    border-width: 10px;
    color:aliceblue;
}
h1{
  background-color: chartreuse;
  color: black;
 text-align: center;
}